{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
{% if LANGUAGE_CODE == 'ar' %}


<div class="news-page">
  <!-- Parent Div -->
  <!-- Background img for news page -->
  <div class="news-page-img">
    <img src="{% static 'images/post.jpg' %}" alt="post pic" title="post pic" />
  </div>

  <!-- Code for news sections -->
  <section class="container news-page-info">
    <!-- Heading for this section -->
    <div class="news-heading">
      <h3>الصور</h3>
    </div>
    <!-- First Row -->
    <div class="row news-page-box">
        {% for photo in photos %}
      <section
        class="news-box-info col-md-4 col-12"
        onclick="OpenSingleRadioPage()"
      >
       <a href="{{ photo.image.url }}">
        <img src="{{photo.image.url}}" alt="New Pic" /> </a>
        <div class="news-info">
          <h3 class="media-title">{{photo.title}}</h3>
        </div>
      </section>
      {% endfor %}
    </div>
  </section>
</div>
<!-- '2' End code for Post News-->

{% else %}

<div class="news-page">
  <!-- Parent Div -->
  <!-- Background img for news page -->
  <div class="news-page-img">
    <img src="{% static 'images/post.jpg' %}" alt="post pic" title="post pic" />
  </div>

  <!-- Code for news sections -->
  <section class="container news-page-info">
    <!-- Heading for this section -->
    <div class="news-heading">
      <h3>Photos</h3>
    </div>
    <!-- First Row -->
    <div class="row news-page-box">
        {% for photo in photos %}
      <section
        class="news-box-info col-md-4 col-12"
        onclick="OpenSingleRadioPage()"
      >
       <a href="{{ photo.image.url }}">
        <img src="{{photo.image.url}}" alt="New Pic" /> </a>
        <div class="news-info">
          <h3 class="media-title">{{photo.title_en}}</h3>
        </div>
      </section>
      {% endfor %}
    </div>
  </section>
</div>
{% endif %}
{% endblock body %}